- @quotes.each do |quote|
	.well.span8
		%blockquote
			= quote.body
		
		= quote.description
		%hr
		- quote.tags.each do |tag|
			%span.btn.btn-small
				= tag.name

	.span2
		.btn-group.btn-group-vertical
			%form{:action => "#{config.relative_url_root}/admin/#{quote.id}/approve"}
				%input.btn.btn-success{:type=>'submit', :value => "Approve"} 
			%form{:action => "#{config.relative_url_root}/quotes/#{quote.id}/edit"}
				%input.btn.btn-warning{:type=>'submit', :value => "Edit"}
			%form{:action => "#{config.relative_url_root}/admin/#{quote.id}/deny"}
				%input.btn.btn-danger{:type=>'submit', :value => "Deny"}

	.clear