- @quotes.each do |quote|
	.well.span8
		%blockquote
			= simple_format(quote.body)
		
		= quote.description
		%hr
		- quote.tags.each do |tag|
			%span.btn.btn-small
				= tag.name

	.span2
		.btn-group.btn-group-vertical
			%form{:action => "#{config.relative_url_root}/admin/#{quote.id}/approve"}
				%input.btn.btn-success{:type=>'submit', :value => "Approve"} 
			%form{:action => "#{config.relative_url_root}/quotes/#{quote.id}/edit"}
				%input.btn.btn-warning{:type=>'submit', :value => "Edit"}
			%form{:action => "#{config.relative_url_root}/admin/#{quote.id}/deny"}
				%input.btn.btn-danger{:type=>'submit', :value => "Deny"}

	.clear

- if not @quotes.any?
	.alert.alert-info
		%h1 No quotes
		%h4 You should be very concerned, the SSE is probably up to no good.
		%br