!!!
%html{ lang: I18n.locale }
  %head
    %title QDB
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = favicon_link_tag "favicon.ico"
    = csrf_meta_tags

    %link{:rel => "apple-touch-icon", :href => "#{config.relative_url_root}/assets/ios-app-icon.png"}
    = auto_discovery_link_tag(:rss, "http://sse.se.rit.edu/qdb/quotes.rss")
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          = link_to  config.relative_url_root, :class => "brand" do
            = image_tag "SmallLogo.png", :class => "corner_logo"
            = image_tag "maintext.png", :class => "maintext"



          = link_to "" "#{config.relative_url_root}/quotes/new", :alt => "new quote" do
            %i.btn.btn-primary.pull-right.new.icon-pencil

          %a.btn.btn-inverse.pull-right.hidden-desktop{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            %i.icon-chevron-down.icon-white

          %form.navbar-search.pull-right.visible-desktop{:action => "#{config.relative_url_root}/search", :method => "post"}
            %input.search-query{:type=>"text", :placeholder=>"Search", :name => "query"}

          .nav-collapse.collapse
            %ul.nav
              %li 
                = link_to "Quotes", :quotes
              %li 
                = link_to "Tags", :tags
            %form.navbar-search.hidden-desktop{:action => "#{config.relative_url_root}/search", :method => "post"}
              %input.search-query{:type=>"text", :placeholder=>"Search", :name => "query"}
             


         
            
          
          

          


    #container.container
      %header
        //= render 'layouts/navigation'
        //= render 'layouts/messages'
      #main{:role => "main"}
        = yield
      %footer
