!!!
%html
  %head
    %title QDB
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          = link_to  config.relative_url_root, :class => "brand" do
            = image_tag "SmallLogo.png", :class => "corner_logo"
            SSE QDB
          %ul.nav
            %li 
              = link_to "Quotes", :quotes
            %li 
              = link_to "Tags", :tags

          = link_to "new" "#{config.relative_url_root}/quotes/new", :alt => "new quote" do
            %i.btn.btn-primary.pull-right.new.icon-pencil
            
          %form.navbar-search.pull-right.hidden-phone{:action => "#{config.relative_url_root}/search", :method => "post"}
            %input.search-query{:type=>"text", :placeholder=>"Search", :name => "query"}

          


    #container.container
      %header
        //= render 'layouts/navigation'
        //= render 'layouts/messages'
      #main{:role => "main"}
        = yield
      %footer